services:
  server:
    container_name: nodejs_server
    build: .
    restart: on-failure
    ports:
      - "8080:8080"
    depends_on:
      - mongodb
    links:
      - mongodb
    networks:
      - server
    expose:
      - "8080"
  nginx:
    image: nginx
    container_name: nginx
    hostname: nginx
    ports:
      - "80:80"
    depends_on:
      - server
    links:
      - server
    volumes:
      - ./api:/var/www/api
      - ./default.conf:/etc/nginx/conf.d/default.conf
    networks:
      - server
  mongodb:
    image: mongo
    container_name: mongo
    restart: always
    ports:
      - "27017:27017"
    environment:
      - MONGO_INITDB_ROOT_USERNAME=${MONGO_INITDB_ROOT_USERNAME}
      - MONGO_INITDB_ROOT_PASSWORD=${MONGO_INITDB_ROOT_PASSWORD}
      - MONGO_INITDB_ROOT_DATABASE=${MONGO_INITDB_ROOT_DATABASE}
    volumes:
      - ./data:/data/db
    networks:
      - server
volumes:
  mongo_data:
    driver: local

networks:
  server:
    driver: bridge